iframe[seamless] {
  border: none;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
}

/* nav bar */
.icon-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-Width {
  width: 30px;
}
.user-Width {
  width: 40px;
}
.imgAlign {
  display: flex;
  align-items: center;
  justify-content: end;
}
.imgWidthUser {
  width: 3%;
  border: 2px solid gray;
  border-radius: 50%;
}
.mainHeader {
  background-color: blueviolet;
  align-items: center;
  height: 80px;
  display: grid;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 27px;
}
nav li {
  list-style: none;
  display: inline-block;
  padding: 0 12px;
  position: relative;
}
nav li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

form {
  /* color: #555; */
  background-color: #f0f0f0;
  display: flex;
  padding: 2px;
  border-radius: 5px;
}

input[type="search"] {
  border: none;
  background: #f0f0f0;
  margin: 2px;
  width: auto;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}
input[type="search"]:focus {
  outline: none;
}
.container button {
  border: none;
  background: transparent;
  background-image: url("./asset/search.svg");
  background-repeat: no-repeat;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

/* banner */
.banner-img {
  width: 100%;
}

/* trending */
.trending-section {
  margin: 80px 22px 0 22px;
}
.h2-text {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 27px;
}
.trending {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.trending-img {
  width: 100%;
}
.trending-box {
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.trending-text {
  display: grid;
  gap: 8px;
  margin: 10px 0 13px 21px;
}

.trending-text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.trending-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.trending-text h4 {
  color: #0a8200;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.trending-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}
.trending-brand img {
}
.trending-cost {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* deals */
.deals-section {
  margin: 80px 11px 0 11px;
}
.deals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 11px 0 11px;
  gap: 20px;
}
.deals-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.deals-text {
  display: grid;
  justify-items: center;
  gap: 15px;
  padding: 30px 0 38px 0;
}
.deals-text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  margin-top: 33px;
}
.deals-text p {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 13px;
}

/* trending-offer */
.trending-offer-section {
  margin: 80px 11px 0 11px;
}
.trending-offer-box {
  display: flex;
  align-items: center;
}
.trending-offer-details {
  display: flex;
  align-items: center;
}

.trending-offer-group {
  width: 550px;
  display: grid;
  justify-items: center;
}
.trending-offer-group h3 {
  margin-top: 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}
.trending-offer-group button {
  background-color: transparent;
  cursor: grab;
  padding: 5px;
  border-radius: 5px;
  margin-top: 39px;
  width: 172px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
