<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Navbar.css" />

    <title>Navbar</title>
  </head>
  <body>
    <nav class="navBar">
      <div><p>Logo</p></div>
      <div>
        <a href="#">Men</a>
        <a href="#">Women</a>
        <a href="#">Kids</a>
        <a href="#">Shop</a>
        <a href="#">Contact Us</a>
      </div>
      <div><input type="text" placeholder="Search here" /></div>
      <div>
        <img class="imgWidth" src="/asset/heart.png" alt="" />
        <img class="imgWidth" src="/asset/shopping-cart.png" alt="" />
        <img class="imgWidthUser" src="/asset/user.png" alt="" />
        <h3>Anne Doe</h3>
      </div>
    </nav>
  </body>
</html>
